@import url('https://fonts.googleapis.com/css2? family= Bebas+Neue & family= Josefin+Sans:wght@300 & family= Montserrat:ital,wght@0,100;0,200;0,300; 0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700 & family= Roboto:ital,wght@0,500;1,400 & display=swap');
:root{
font-family: 'Bebas Neue', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
}
.weather-app {
    background-image: url('nublado.jpg'); 
    background-size: cover;
    background-position: center;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Josefin Sans', sans-serif;
  }

  .lead{
    color: black;
  }
  
  .content {
    text-align: center;
    color: #fff;
  }
  
  .city-input {
    padding: 8px 16px;
    margin: 16px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    width: 300px;
  }
  
  .search-button {
    padding: 12px 24px;
    margin-top: 16px;
    background-color: #ff9800;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .search-button:hover {
    background-color: #ff5722;
  }
  

  .textres,
  .leadUmi
  .leadPais{
    color: black;
    font-family: 'Bebas Neue', sans-serif;
  }
  

   